@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

.title-error {
  text-align: center;
  color: #ff6060;
  font-size: 288px;
}
.paragraphe-error {
  text-align: center;
  font-size: 36px;
  color: #ff6060;
  margin-top: -150px;
}
.lien-error {
  display: flex;
  justify-content: center;
  color: #ff6060;
  font-size: 18px;
  margin-top: 200px;
}
