.block {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 56px;
  padding: 56px 0px 56px 0px;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .block {
    background-color: white;
    padding: 0px;
    gap: 30px;
  }
}
