.container-lodge {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(white, black);
}
.lodge-img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.5;
}
.lodge-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .lodge-title {
    font-size: 18px;
    width: 200px;
  }
  .container-lodge {
    width: 100%;
    height: 255px;
  }
  .lodge-img {
    width: 100%;
    height: 255px;
  }
}
