.picture-host {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}
.name-host {
  width: 110px;
  padding: 10px;
  word-wrap: break-word;
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
}
.block-host {
  display: flex;

  text-align: end;
}
@media screen and (max-width: 767px) {
  .picture-host {
    width: 32px;
    height: 32px;
    border-radius: 20px;
  }
  .name-host {
    font-size: 12px;
    width: 100px;
  }
  .block-host {
    align-items: center;
    margin-top: 20px;
  }
}
