.picture-host {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}
.name-host {
  width: 120px;
  padding: 10px;
  word-wrap: break-word;
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
}
.block-host {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
