.container-about {
  position: relative;
  margin-top: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.block-title {
  width: 100%;
  background: #ff6060;
  border-radius: 5px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-about {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin: 20px;
}
.block-text {
  background-color: #f6f6f6;

  border-radius: 5px;
  width: 100%;
}
.text-about {
  font-size: 24px;
  font-weight: 400;
  color: #ff6060;
  padding: 0px 15px 30px 15px;
}
.button-down {
  border: none;
  background: none;
  cursor: pointer;
  transform: rotate(180deg);
  margin: 20px;
}
.button-up {
  border: none;
  background: none;
  cursor: pointer;
  transform: none;
  margin: 20px;
}
@media screen and (max-width: 767px) {
  .text-about {
    font-size: 12px;
  }
  .title-about {
    font-size: 13px;
  }
  .fleche {
    width: 20px;
  }
  .block-title {
    width: 100%;
    height: 35px;
  }
  .container-about {
    margin-top: 40px;
  }
}
