@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

.navbarre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 55px 0px;
}

.navtext {
  display: flex;
  gap: 50px;
}
.navhome:hover {
  text-decoration: underline;
}
.navhome {
  text-decoration: none;
  display: flex;
  color: #ff6060;
  font-size: 24px;
  font-family: Montserrat;
}

@media screen and (max-width: 767px) {
  .logo-header {
    width: 40%;
  }
  .navtext {
    gap: 20px;
  }

  .navhome {
    font-size: 12px;
    text-transform: uppercase;
  }
}
