.container {
  position: relative;
}

.pictures {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
.fleche-droite {
  position: absolute;
  top: 160px;
  right: 15px;
}
.fleche-gauche {
  position: absolute;
  top: 160px;
  left: 15px;
}
