.container-carroussel {
  position: relative;
}

.pictures {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
.fleche-droite {
  position: absolute;
  top: 160px;
  right: 15px;
  cursor: pointer;
  background: none;
  border: none;
}
.fleche-gauche {
  position: absolute;
  top: 160px;
  left: 15px;
  cursor: pointer;
  background: none;
  border: none;
}

.count {
  position: absolute;
  bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  left: 50%;
}
@media screen and (max-width: 767px) {
  .pictures {
    height: 255px;
    border-radius: 10px;
  }
  .fleche-droite {
    width: 20px;
    top: 110px;
  }
  .fleche-gauche {
    top: 110px;
  }
  .count {
    display: none;
  }
}
